* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-wrapper {
    height: 100vh;
    background-color: black;
}
.urna {
    display: flex;
    position: relative;
    max-width: 1200px;
    height: 80%;
    top: 50%;
    transform: translate(0%, -50%);
    background-color: rgb(240, 240, 239);
    padding: 45px;
    margin: auto;
}
.urna-info {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    background-color: lightgray;
    margin-right: 3%;
    padding: 25px;
    font-size: 25px;
    border: solid 2px;
    position: relative;
}
.urna-teclado {
    position: relative;
    display: grid;
    background-color: rgb(95, 95, 95);
    width: 40%;
    padding: 30px;
    align-items: center;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    justify-content: space-evenly;
    justify-items: center;
    text-align: center;
}
.urna-teclado-num {
    background-color: black;
    color: white;
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 29px;
    box-shadow: 2px 2px 2px grey;
}
#num0 {
    grid-column: 2;
}
#urna-teclado-btns-branco {
    background-color: white;
    grid-row: 5;
    height: 60%;
    width: 80%;
    justify-self: start;
    align-self: flex-end;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
#urna-teclado-btns-corrige {
    background-color: orange;
    grid-row: 5;
    height: 60%;
    width: 80%;
    justify-self: start;
    align-self: flex-end;
    text-align: center;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
#urna-teclado-btns-confirma {
    background-color: green;
    grid-row: 5;
    height: 70%;
    width: 100%;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.num-digitado {
    height: 65px;
    width: 7%;
    border: solid 1px black;
}
#tipo-cargo {
    margin: 5% auto;
    text-align: center;
}
#numeros-digitados {
    display: flex;
}
.num-digitado {
    display: flex;
    margin-right: 2px;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#info-candidatos {
    display: flex;
    flex-direction: column;
    margin: 5% 0px;
}
.info-candidatos {
    margin-bottom: 10px;
}
#imgs {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#urna-info-candidatos {
    border: 1px black;
    height: 80%;
    position: relative;
}
#urna-info-legend {
    margin-top: 5px;
    height: 20%;
    /* display: none; */
}
hr {
    margin: 0px -25px;
    background-color: black;
    border: solid 1px;
}
#img-prefeito {
    border: solid 1px;
    height: 173px;
    width: 127px;
}
#image-img-principal {
    height: 100%;
    width: 100%;
}
#image-img-vice{
    width: 100%;
    height: 100%;

}
#img-vice-prefeito {
    border: solid 1px;
    width: 110px;
    height: 163px;
    display: none;
    
}

.pisca {
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 1, 1);
    -webkit-animation-duration: 1s;
}
@-webkit-keyframes blinker {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.progress-bar {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50%;
    transform: (translate(-50% 0%));
}
#progress-bar {
    background-color: green;
    width: 95%;
    min-height: 30px;
    border: solid 1px black;
    animation: progress-bar 1.5s;
    margin-left: 2%;
}
#gravando {
    position: relative;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0%);
    margin: 1%;
}

@keyframes progress-bar {
    0% {
        width: 0%;
    }
    100% {
        width: 95%;
    }
}
#div-fim {
    position: relative;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 5em;
}
#div-info-voto-nulo {
    position: absolute;
    top: 90%;
    font-size: 3em;
    transform: translate(-0%, -90%);
}
#comprovante-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(15, 10, 10, 0.651);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    font-size: 30px;
    animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#div-comprovante {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    text-align: center;
    justify-content: space-around;
}
.hr-comprovante {
    width: 100%;
    position: relative;
    left: 25px;
    border: 0;
    border-top: 2px dashed white;
}
.span-comprovante {
    text-align: center;
}

@keyframes unfoldIn {
    0% {
        transform: scaleY(0.005) scaleX(0);
    }
    50% {
        transform: scaleY(0.005) scaleX(1);
    }
    100% {
        transform: scaleY(1) scaleX(1);
    }
}

@media only screen and (max-width: 969px) {
    .urna {
        padding: 20px;
        max-width: 700px;
        max-height: 400px;
    }
    #urna-teclado-btns-branco {
        font-size: 10px;
    }
    #urna-teclado-btns-corrige {
        font-size: 10px;
    }
    #urna-teclado-btns-confirma {
        font-size: 10px;
    }
    .urna-info {
        padding: 15px;
    }
    .urna-teclado {
        padding: 15px;
    }
    .urna-teclado-num {
        font-size: 20px;
    }
    #seu-voto-para {
        font-size: 15px;
    }
    #tipo-cargo {
        font-size: 16px;
        margin-right: 50px;
    }
    #img-prefeito {
        width: 100px;
        height: 120px;
    }
    #img-vice-prefeito{
        width: 80px;
        height: 100px;
    }
    #numeros-digitados {
        height: 45px;
    }
    .num-digitado {
        height: 100%;
    }
    #info-candidatos {
        font-size: 20px;
    }
    #legend {
        font-size: 15px;
    }
    #hr1 {
        position: absolute;
        left: 25px;
        width: 100%;
    }
}
@media only screen and (max-width: 478px) {
    .urna {
        padding: 10px;
        max-width: 700px;
        max-height: 400px;
    }
    #urna-teclado-btns-branco {
        font-size: 10px;
        width: 100%;
    }
    #urna-teclado-btns-corrige {
        font-size: 10px;
        width: 100%;
    }
    #urna-teclado-btns-confirma {
        font-size: 10px;
        width: 100%;
    }
    .urna-info {
        padding: 10px;
    }
    .urna-teclado {
        padding: 10px;
    }
    .urna-teclado-num {
        font-size: 20px;
    }
    #seu-voto-para {
        font-size: 15px;
    }
    #tipo-cargo {
        font-size: 16px;
        margin-right: 100px;
    }
    #img-prefeito {
        width: 80px;
        height: 100px;
    }
    #img-vice-prefeito{
        width: 70px;
        height: 90px;
    }
    #numeros-digitados {
        height: 45px;
    }
    .num-digitado {
        height: 100%;
    }
    #info-candidatos {
        font-size: 15px;
    }
    #legend {
        font-size: 15px;
    }
    #hr1 {
        position: absolute;
        left: 25px;
        width: 100%;
    }
}
@media screen and (max-width: 393px) {
    .urna {
        padding: 1px;
        max-width: 700px;
        max-height: 400px;
    }
    #urna-teclado-btns-branco {
        text-overflow: ellipsis;
        font-size: 10px;
    }
    #urna-teclado-btns-corrige {
        font-size: 10px;
    }
    #urna-teclado-btns-confirma {
        font-size: 10px;
    }
    .urna-info {
        padding: 10px;
    }
    .urna-teclado {
        padding: 1px;
    }
    .urna-teclado-num {
        font-size: 20px;
    }
    #seu-voto-para {
        font-size: 13px;
    }
    #tipo-cargo {
        font-size: 14px;
        margin-right: 100px;
    }
    #img-prefeito {
        width: 80px;
        height: 100px;
    }
    #numeros-digitados {
        height: 45px;
    }
    .num-digitado {
        height: 100%;
    }
    #info-candidatos {
        font-size: 15px;
    }
    #legend {
        font-size: 15px;
    }
    #hr1 {
        position: absolute;
        left: 25px;
        width: 100%;
    }
    #div-fim {
        font-size: 100px;
    }
}

@media screen and (max-width: 344px) {
    .urna {
        margin: 0;
        padding: 0px;
        width: 100%;
        max-height: 500px;
    }
    #urna-teclado-btns-branco {
        text-overflow: ellipsis;
        font-size: 10px;
    }
    #urna-teclado-btns-corrige {
        font-size: 10px;
    }
    #urna-teclado-btns-confirma {
        font-size: 10px;
    }
    .urna-info {
        padding: 10px;
        width: 50%;
        border-top: 0;
        border-bottom: 0;
        margin-right: 0;
    }
    .urna-teclado {
        padding: 1px;
        width: 50%;
    }
    .urna-teclado-num {
        font-size: 20px;
    }
    #seu-voto-para {
        font-size: 15px;
    }
    #tipo-cargo {
        font-size: 16px;
        margin: 10px;
    }
    #img-prefeito {
        width: 80px;
        height: 100px;

        margin-top: 70px;
    }
    #img-vice-prefeito{
        width: 60px;
        height: 70px;
        position: relative;
        top: 205px;
    }
    .imgs {
        width: 80px;
        height: 100px;
        position: absolute;
        top: 50%;
    }
    #numeros-digitados {
        height: 45px;
        position: relative;
        top: 50%;
        display: flex;
    }
    .num-digitado {
        height: 100%;
        width: 15px;
    }
    #info-candidatos {
        font-size: 15px;
        position: relative;
        top: 50%;
    }
    #legend {
        font-size: 15px;
    }
    #hr1 {
        position: absolute;
        left: 25px;
        width: 100%;
    }
    #div-fim {
        font-size: 70px;
    }
}

